.container {
  width: 100%;
  height: 85vh;
  position: relative;
}

.imageContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imageContainer > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.contentContainer {
  color: white;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -25%);
}

.contentContainer > h2 {
  font-size: 5rem;
  font-weight: 500;
}
.contentContainer > p {
  font-size: 1.5rem;
  font-weight: 100;
  margin-left: 4px;
  letter-spacing: 7px;
}
