.listItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.listItemContainer > div:last-child {
  flex-grow: 1;
}

.listItemContainer > div:first-child {
}
