* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  border-radius: 32px;
  width: fit-content;
  font-size: 1rem;
  font-weight: 700;
  height: auto;
  padding: 6px 12px;
  background-color: #62d4f2;
  outline: none;
  border: none;
  text-transform: capitalize;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

button:hover {
  background-color: #48bdda;
}

button:active {
  background-color: #07a5cc;
  box-shadow: none;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
  gap: 32px;
  padding: 32px;
}

.row-title {
  padding: 24px 0px;
  text-align: center;
  font-size: 3rem;
}

@media only screen and (max-width: 600px) {
  div.navItems {
    display: none !important;
  }
  nav.navbarContainer {
    padding: 32px auto !important;
  }
  div.navImage {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
  }
  div.navPersonInfoContainer {
    min-height: 100px;
    min-width: 100px;
  }
}
